<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.orland_appdev">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.orland_appdev.SimpleCalculator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.orland_appdev.Selection" />
        <activity android:name="com.example.orland_appdev.MyPet" />
        <activity android:name="com.example.orland_appdev.LoopTimer" />
        <activity android:name="com.example.orland_appdev.Randomizer" />
        <activity android:name="com.example.orland_appdev.LTORegistration" />
         <activity android:name="com.example.orland_appdev.Activity7" />
        <activity android:name="com.example.orland_appdev.Activity8" />
            <activity android:name="com.example.orland_appdev.ViewWebsite" />
    </application>

</manifest>